/*In hindsight I could have just used a react container but I probablly needed to learn css flexboxes/grids eventually anyways*/
:root {
    --row_width: 66vw
}

.button-grid {
  display: grid;
  
  margin-left: 0px;
  padding: 1vw;
  width: var(--row_width);
  place-items: center;

  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  column-gap: 0.1em;

  background-color: magenta;
}

.grid-header {
  grid-column: 1 / -1;
  text-align: center;
  width: var(--row_width);
  margin-left: 0px;

  background-color: darkorchid;
}

